In [1]:
import pandas as pd

In [4]:
df = pd.read_excel('datahackon.xlsx', sheet_name='training data')

print(df)

      Employee ID Training Date   Training Program Name Training Type  \
0            1001    2022-09-21        Customer Service      Internal
1            1002    2023-07-19  Leadership Development      Internal
2            1003    2023-02-24        Technical Skills      Internal
3            1004    2023-01-12        Customer Service      Internal
4            1005    2023-05-12    Communication Skills      External
...           ...           ...                     ...           ...
2995         3996    2023-01-09        Customer Service      Internal
2996         3997    2022-09-19      Project Management      External
2997         3998    2022-09-26        Customer Service      External
2998         3999    2023-07-02  Leadership Development      Internal
2999         4000    2022-10-06  Leadership Development      Internal

     Training Outcome           Location            Trainer  \
0              Failed          Port Greg     Amanda Daniels
1              Failed        Brandonview  Brittany Chambers
2          Incomplete  Port Briannahaven      Mark Roberson
3           Completed      Knightborough     Richard Fisher
4              Passed         Bruceshire    Heather Shaffer
...               ...                ...                ...
2995           Failed        North Emily      Carmen Cortez
2996           Failed       West Zachary     Katrina Parker
2997        Completed          Port Kyle    Andre Donaldson
2998       Incomplete       Williamsland       Brian Obrien
2999        Completed          Jamesfurt   Michael Mckenzie

      Training Duration(Days)  Training Cost
0                           4         510.83
1                           2         582.37
2                           4         777.06
3                           2         824.30
4                           4         145.99
...                       ...            ...
2995                        2         808.51
2996                        4         629.16
2997                        1         994.09
2998                        5         477.78
2999                        4         951.27

[3000 rows x 9 columns]